Flask
gunicorn
python-dotenv
requests
flask_sqlalchemy
psycopg2-binary
flask-cors
supabase
plotly
transformers
sentencepiece
protobuf
tensorflow
mplfinance
mpld3
pandas
xgboost
statsmodels
pmdarima
dropbox
